<html>
  <title><h1>PAGE POTIN</h1></title>

  <body>
    <div>
      <div>Voici la page du potain numéro : <%=id%></div>
      <div>Son auteur: ==<%= gossips.author %>==<br/></div>
      <div>Le contenu du potin: ==<%= gossips.content %>==<br/></div>
      <div><a href="/" tag="/">http://localhost:4567/</a></div>
      <div><a href="/gossips/<%=id%>/edit/" tag="/">http://localhost:4567/gossips/<%=id%>/edit/</a></div>
    </div>
  </body>
</html>
